@import "./variables.scss";

// start Global Styles
* {
  box-sizing: border-box;
}
.w-50 {
  width: 50% !important;
}
.w-25 {
  width: 25% !important;
}
.w-75 {
  width: 75% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-100 {
  width: 100% !important;
}
.caption {
  font-size: 12px;
}
.overline {
  font-size: 10px;
}
.fill-height {
  height: 100vh;
}
// End Global Styles

// Start v-Main
// .v-main {
//   padding: 0px 0px 0px !important;
// }
// End V-main
// Start Footer
footer {
  padding: 40px 0 !important;
  background-color: #263238 !important;
  color: #cfd8dc !important;
  position: relative !important;
  a {
    color: #cfd8dc !important;
    .theme--light.v-btn {
      color: #cfd8dc !important;
    }
  }
  .socialMedia {
    .v-btn {
      color: #cfd8dc !important;
    }
  }
  .logo {
    width: 150px;
  }
  .hr {
    width: 100%;
    height: 1px;
    background-color: #cfd8dc;
    margin-top: 30px;
  }
}
// End Footer
// .questions-section {
//   margin-top: 74px;
// }
//start login
.formCard {
  // border-radius: 0;
  // border: 0;
  // padding: 2rem;

  .conOfFormSection {
    max-width: 400px;
    display: flex;
    align-items: center;
    margin: auto;

    .loginHeader {
      text-align: center;
      img {
        width: 80%;
      }
    }

    .formInput {
      color: #242021;

      .v-input__slot {
        box-shadow: none !important;
      }

      label.v-label.v-label--active {
        left: -4px !important;
      }

      .v-icon {
        color: #a0a0a0;

        &.primary--text {
          color: #a0a0a0;
        }
      }
    }
  }

  .forgetPass {
    text-align: right;

    a {
      text-decoration: none;
      color: #febf2c;
      font-size: 1rem;
    }
  }

  .btnLoginCon {
    button.primaryBtn.loginBtn.v-btn {
      min-width: 100%;
      background: #febf2c;
      min-height: 60px;
      border-radius: 10px;
      color: #000000;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

//End login
//start questions
.RegisterComponent {
  background-image: url("@/assets/Photos/BG-Big-new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.questionComponent {
  background-image: url("@/assets/Photos/BG-Big-new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: bottom;
}
.TeamComponent {
  background-image: url("@/assets/Photos/BG-Big-new.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 73px;
  height: 100vh;
  background-attachment: fixed;
  background-position: bottom;
}

// .conOfForm {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }
.conOfRegisterForm {
  height: 100vh;
}
.LoginBtn {
  width: 100%;
  font-size: 20px !important;
  text-transform: capitalize !important;
  padding: 25px !important;
}
.SubmitBtn {
  font-size: 20px !important;
  text-transform: capitalize !important;
  padding: 25px !important;
}
.startBtn {
  background-color: #febf2c !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px !important;
  width: 100%;
  font-size: 20px !important;
  text-transform: capitalize !important;
  color: #4343c3 !important;
  padding: 25px !important;
}
.link {
  width: 50%;
}
.conOfTeam {
  font-size: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 20px;
}
.loginForm {
  background: #ffffffd9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 30px;
}
.questionForm {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 30px;
}
.startForm {
  background: #ffffffd9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.loginlink {
  text-decoration: none;

  font-size: 30px;
  color: #bf9021 !important;
  font-weight: bold;
}
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.checkboxItem {
  padding: 0px 20px;
}
.radio-container {
  display: flex;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.match-logo {
  width: 20%;
}
.slogn-image {
  width: 30%;
  animation: moveFromTop 2s ease-in-out;
}
.growth_logo {
  width: 20%;
}
.novartis_logo {
  width: 50%;
}
.magnify-glass {
  width: 10%;
}
@media screen and (max-width: 1200px) {
  .slogn-image {
    width: 90%;
  }
  .match-logo {
    width: 30%;
  }
  .v-input--radio-group--column .v-input--radio-group__input {
    display: block;
  }
  .conOfLoginForm {
    top: 14%;
    position: absolute;
  }
  .conOfRegisterForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .questionComponent {
    background-image: url("@/assets/Photos/BG-mobile-new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
  }
  .RegisterComponent {
    background-image: url("@/assets/Photos/BG-mobile-new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
  }
  .TeamComponent {
    background-image: url("@/assets/Photos/BG-mobile-new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    margin-top: 60px;
  }
}
.teamMember {
  font-size: 20px;
  font-weight: 900;
  color: #bf9021;
}
.memberNum {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  background-color: #bf9021 !important;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px 0px;
}

@keyframes moveFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.interestedIn {
  color: #bf9021 !important;
  font-size: 22px;
  font-weight: 900;
}

//End questions
//start landingPage
.landingPage {
  background-image: url("@/assets/Photos/cute-heart-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container {
  text-align: center;
}

//End landingPage
//start userID
.userID {
  height: 100vh;
}
//ENd userID

//start Header
.image {
  background-image: url("@/assets/Photos/header copy.jpeg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.conOfHeader {
  position: absolute;
  top: 50%;
  padding-inline: 12rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px 4rem;
  padding: 1.4rem;
  background: linear-gradient(to right, rgb(101, 45, 145), rgb(0, 168, 158));
  border-radius: 1rem;
}
@media screen and (max-width: 800px) {
  .conOfHeader {
    top: 25%;
    margin: 0px 4rem;
    padding: 1.4rem;
  }
}
.HeadOfConOfHeader {
  margin: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  color: white;
  text-align: center;
}
.logOutBtn {
  position: absolute;
  right: 0px;
}
.register-btn {
  padding: 20px 70px !important;
}
//End Header
//start Resgister Page

.TextOfConOfHeader {
  margin: 1rem 0px;
  max-width: 100%;
  font-size: 1.125rem;
  color: white;
  text-align: justify;
  max-width: 100%;
  color: white;
  text-align: center;
  padding-inline: 5rem;
}
.patientDetails {
  margin: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2;
  display: block;
}
.text-field-style {
  border: 1px solid rgb(238, 238, 238);

  background-color: rgb(255, 255, 255);
  color: rgb(17, 25, 39);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px,
    rgba(0, 0, 0, 0.03) 0px 0px 0px 0.5px;

  overflow: hidden;
  border-radius: 20px;
  margin: 10px;
  padding: 25px !important;
}
.Register-form {
  background: #ffffffd9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 30px;
  padding: 50px !important;
}
.registerStartBtn {
  padding: 20px 60px !important;
  text-transform: capitalize !important;
}
.userId {
  color: #4343c3;
  font-size: 28px;
}
.mark {
  font-size: 30px !important;
  color: #29a4a7 !important;
}
.thankYou {
  font-size: 20px !important;
  color: #000 !important;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
//End Resgister Page
.step {
  font-size: 30px;
  font-weight: 600;
}
.stepNum {
  background: linear-gradient(to right, rgb(101, 45, 145), rgb(0, 168, 158));

  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
}
.completed {
  background: linear-gradient(to right, rgb(101, 45, 145), rgb(0, 168, 158));
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  margin: 3px;
  font-size: 25px;
}
